<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Voutche", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to  "Home",    root_path %></li>
          <li><%= link_to "About",    about_path %></li>
          <li><%= link_to "Help",     help_path %></li>
          <li><%= link_to "Contact",  contact_path %></li>   
          <li>
              <% if current_user %>
                Signed in as <strong><%= current_user.name %></strong>!
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
              <% else %>
                <%= link_to "Facebook Login", "/auth/facebook", id: "sign_in" %>
              <% end %>
            </li>                 
        </ul>
      </nav>
    </div>
  </div>
</header>